@model Hckaton2018v2.archivo


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Estados</h1>
                </div>


                @using (Html.BeginForm("Cargar", "archivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    // @Html.ValidationSummary("No fue posible crear la Persona") esto es para mostrar el mensaje arriba en general.
                        <fieldset>
                            <legend>Formulario de carga de archivos</legend>
                            <ol>
                    
                                <li>
                                    @*   @Html.TextBox("file", "", new { type = "file" }) *@
                                    <input type="file" name="archivo" /> <input type="submit" value="Cargar" name="boton" />
                                </li>
                            </ol>
                            
                        </fieldset>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</section>