@model Hckaton2018v2.estado


<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Estados</h1>
                </div>
                <h3 style="color:#f3f3ff">¿Deseas eliminar el registro?</h3>
                <div>
                   
                    <hr />
                    <dl class="dl-horizontal h5">
                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.poblacion)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.poblacion)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="h5">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                           @Html.ActionLink("Regresar", "Index")
                        </div>
                    }
                </div>

</div>
</div>
</div>
</section>