@model IEnumerable<Hckaton2018v2.estado>

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">


                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.poblacion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.poblacion)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.idEstado }) |
                            @Html.ActionLink("Details", "Details", new { id = item.idEstado }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.idEstado })
                        </td>
                    </tr>
            }

                </table>
            </div>
            </div>
        </div>
</section>