@model Hckaton2018v2.egreso

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">
                <div>
                    <div class="form-horizontal">
                        <div class="page-header text-center">
                            <h1 style="color:#f3f3ff">Egresos</h1>
                        </div>
                        <hr />
                        <dl class="dl-horizontal h5">

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.cantidad)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.cantidad)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.votosPositivos)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.votosPositivos)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.votosNegativos)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.votosNegativos)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.latitud)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.latitud)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.longitud)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.longitud)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.archivo.ruta)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.archivo.ruta)
                            </dd>

                            <dt class="text-capitalize font-weight-bold">
                                @Html.DisplayNameFor(model => model.presupuesto.idPresupuesto)
                            </dt>

                            <dd class="text-light">
                                @Html.DisplayFor(model => model.presupuesto.idPresupuesto)
                            </dd>

                        </dl>
                    </div>
                    <p class="h5">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.idEstado }) |
                        @Html.ActionLink("Regresar", "Index")


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>