@model Hckaton2018v2.egreso


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">


                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div class="page-header text-center">
                        <h1 style="color:#f3f3ff">Egresos</h1>
                    </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.idEgreso)

                        <div class="form-group">
                            @Html.LabelFor(model => model.idPresupuesto, "Presupuesto", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.DropDownList("idPresupuesto", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idPresupuesto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.idArchivo, "Archivo", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.DropDownList("idArchivo", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idArchivo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.cantidad,"Cantidad", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcion,"Descripción", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.votosPositivos,"Votos positivos", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.votosPositivos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.votosPositivos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.votosNegativos,"Votos negativos", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.votosNegativos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.votosNegativos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.latitud,"Latitud", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.latitud, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.latitud, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.longitud,"Longitud", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.longitud, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.longitud, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>
                }

                <div class="h5">
                    @Html.ActionLink("Regresar", "Index")
                </div>

            </div>
        </div>
    </div>
</section>
