@model IEnumerable<Hckaton2018v2.egreso>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.votosPositivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.votosNegativos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.archivo.ruta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.presupuesto.idPresupuesto)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.votosPositivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.votosNegativos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.archivo.ruta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.presupuesto.idPresupuesto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idEgreso }) |
                @Html.ActionLink("Details", "Details", new { id=item.idEgreso }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idEgreso })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
