@model Hckaton2018v2.presupuesto


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="page-header text-center">
                            <h1 style="color:#f3f3ff">Presupuestos</h1>
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.prepTotal,"Presupuesto total", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold" })

                         
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.prepTotal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.prepTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.idEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-2 text-capitalize font-weight-bold " })
                            <div class="col-md-10">
                                @Html.DropDownList("idEstado", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div class="h5">
                    @Html.ActionLink("Regresar", "Index")
                </div>
            </div>
        </div>
    </div>
</section>