@model IEnumerable<Hckaton2018v2.presupuesto>

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Presupuestos</h1>
                </div>


                <br>
                <p>
                    <h2> @Html.ActionLink("Nuevo Presupuesto", "Create") </h2>
                </p>
                <table class="table table-hover text-center h4">
                    <thead class="bg-light">
                        <tr>
                            <th>
                                Presupuesto Total
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.prepTotal)
                                </td>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.estado.nombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idPresupuesto }) |
                                    @Html.ActionLink("Detalles", "Details", new { id = item.idPresupuesto }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idPresupuesto })
                                </td>
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</section>

