@model Hckaton2018v2.Controllers.programasIngreso


<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Ingresos</h1>
                </div>


                <br>

                <div>
                    <h4>programasIngreso</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.presupuesto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.presupuesto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.presupuesto1.idPresupuesto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.presupuesto1.idPresupuesto)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.idProgramaIngreso }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>
        </div>
    </div>
</section>