@model Hckaton2018v2.candidato

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Candidato</h1>
                </div>
                <h3>¿Estas seguro de eliminar?</h3>
                <div>
                    <h4>candidato</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.partidoPolitico.nombre)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.partidoPolitico.nombre)
                        </dd>

                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.presupuesto.idPresupuesto)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.presupuesto.idPresupuesto)
                        </dd>

                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.tipoCandidato.tipoCandidato1)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.tipoCandidato.tipoCandidato1)
                        </dd>

                        <dt class="text-capitalize font-weight-bold">
                            @Html.DisplayNameFor(model => model.usuario.usuario1)
                        </dt>

                        <dd class="text-light">
                            @Html.DisplayFor(model => model.usuario.usuario1)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="h5">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>