@model IEnumerable<Hckaton2018v2.candidato>

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Candidatos</h1>
                </div>


                <br>
                <p>
                    @Html.ActionLink("Nuevo Candidato", "Create")
                </p>
                <table class="table table-hover text-center h4">
                    <thead class="bg-light">
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Presupuesto
                            </th>
                            <th>
                                Tipo de candidato
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.partidoPolitico.nombre)
                                </td>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.presupuesto.idPresupuesto)
                                </td>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.tipoCandidato.tipoCandidato1)
                                </td>
                                <td class="text-light">
                                    @Html.DisplayFor(modelItem => item.usuario.usuario1)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.idCandidato }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.idCandidato }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.idCandidato })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</section>